extends layout

block content
  h1= title
  p Welcome to #{title}
  form(name="search", action="/", method="post")
    input(type='text', name='key')
    button(type='submit') Search

  if airports
    each data in airports
      div(id='block_'+data.key)
        p
          b
            span Key:
            span= data.key
          button(type='button',class='showParam',onclick='showForm("'+data.key+'")') u
          button(type='button',class='updateParam',onclick='hideForm("'+data.key+'")') c
          form(name="delete", action="/delete", method="post")
            input(type='hidden', name='key', value=data.key)
            button(type='submit') x
        form(name="update", action="/update", method="post")
          input(type='hidden',name='key',value=data.key)
          p
            span Name:
            span(class='showParam')= data.name
            input(name='name', class='updateParam', value=data.name)
          p
            span Latitude:
            span(class='showParam')= data.latitude
            input(name='latitude', class='updateParam', value=data.latitude)
          p
            span Longitude:
            span(class='showParam')= data.longitude
            input(name='longitude', class='updateParam', value=data.longitude)
          p
            span Time Zone:
            span(class='showParam')= data.timezone
            input(name='timezone', class='updateParam', value=data.timezone)
          button(type='submit', class='updateParam') Update